.writing-goals-container {
    max-width: 350px;
    padding: 0 20px;
}

.writing-goals-container h3, .writing-goals-container h4 {
    color: var(--color-text-title);
    text-align: center;
}

.writing-goals-simple-container {
    position: absolute;
    width: 25px;
    right: 6px;
    top: 0px;
}

.note-goal-completed .note-goal-text {
    fill: var(--text-on-accent-inverted);
    font-weight: bold;
}

.note-goal-text {
    fill: var(--text-normal);
}

.note-goal-completed {
    color: var(--text-success);
}

.writing-goals .wg-bar {
    stroke-width: 18px;
}

.writing-goals-simple .wg-bar { 
    stroke-width: 22px;
}

.writing-goals-simple .wg-daily-bar {
    stroke-width: 22px;
}

.writing-goals .wg-daily-bar {
    stroke-width: 10px;
}

.wg-daily-goal .writing-goals .wg-bar{
    stroke-width: 10px;
}

.wg-bar, .wg-simple .wg-bar {
    transition: stroke-dashoffset 1s linear;
}

.wg-daily-bar, .wg-goals-simple .wg-daily-bar {
    transition: stroke-dashoffset 1s linear;
}

.wg-background, .wg-daily-background {
    fill: var(--background-primary);
}

.note-goal-completed, .daily-note-goal-completed {
    fill: var(--background-modifier-success);
}

.workspace-split.mod-root .writing-goals .background {
    fill: var(--background-secondary-alt);
}

.writing-goals-simple {
    fill: var(--background-primary);
    max-width: 50px;
}