.writing-goals-container {
    padding: 0 20px;
}

.writing-goals-container h3 {
    color: var(--color-text-title);
    font-size: 1.4em;
    text-align: center;
}

.writing-goals-simple-container {
    position: absolute;
    width: 22px;
    right: 6px;
    top: 2px;
}

.note-goal {
    color: var(--text-accent);
}

.note-goal-completed .note-goal-text {
    fill: var(--text-on-accent-inverted);
    font-weight: bold;
}

.note-goal-text {
    fill: var(--text-normal);
}

.note-goal-completed {
    color: var(--text-success);
}

.writing-goals #bar, .writing-goals-simple #bar {
    stroke: var(--interactive-accent);
    transition: stroke-dashoffset 1s linear;
}

.writing-goals-simple #bar {
    stroke: var(--interactive-accent);
    transition: stroke-dashoffset 1s linear;
}

.svg-gradient-start {
    stop-color: transparent;
}

.svg-gradient-stop {
    stop-color: var(--interactive-accent);
}

.writing-goals #background {
    fill: var(--background-primary);
}

.writing-goals #background.note-goal-completed, 
.workspace-split.mod-root .writing-goals #background.note-goal-completed, 
.writing-goals-simple #background.note-goal-completed {
    fill: var(--background-modifier-success);
}

.workspace-split.mod-root .writing-goals #background {
    fill: var(--background-secondary-alt);
}

.writing-goals-simple {
    fill: var(--background-primary);
    max-width: 50px;
}