.writing-goals-container {
    max-width: 550px;
    cursor: pointer;
}

.writing-goals-container h3, .writing-goals-container h4 {
    color: var(--color-text-title);
    text-align: center;
    font-size: 1em;
    margin: 4px 0;
}

.writing-goals-simple-container {
    position: absolute;
    width: 25px;
    right: 6px;
    top: 0px;
}

.note-goal-completed .note-goal-text {
    fill: var(--text-on-accent-inverted);
    font-weight: bold;
}

.note-goal-text {
    fill: var(--text-normal);
}

.note-goal-completed {
    color: var(--text-success);
}

.writing-goals {
    padding: 0 32px;
}

.writing-goals .wg-bar {
    stroke-width: 18px;
}

.writing-goals-simple .wg-bar { 
    stroke-width: 22px;
}

.writing-goals-simple .wg-daily-bar {
    stroke-width: 22px;
}

.writing-goals .wg-daily-bar {
    stroke-width: 10px;
}

.wg-daily-goal .writing-goals .wg-bar{
    stroke-width: 10px;
}

.wg-bar, .wg-simple .wg-bar {
    transition: stroke-dashoffset 0.5s linear;
}

.wg-daily-bar, .wg-goals-simple .wg-daily-bar {
    transition: stroke-dashoffset 0.5s linear;
}

.wg-background, .wg-daily-background {
    fill: var(--background-primary);
}

.note-goal-completed, .daily-note-goal-completed {
    fill: var(--background-modifier-success);
}

.workspace-split.mod-root .writing-goals .background {
    fill: var(--background-secondary-alt);
}

.writing-goals-simple {
    fill: var(--background-primary);
    max-width: 50px;
}


/* STATS */

.linked-chart-container {
    background-color: var(--background-primary);
    border-radius: 8px;
    height: 120px;
    max-width: 550px;
    margin-top: 8px;
    padding: 4px 20px 32px 20px;
    position: relative;
}

.linked-chart-container svg {
    width: 100%;
}

.linked-chart-date-label {
    text-align: center;
}

.linked-chart-container h3, .linked-chart-container h4 {
    color: var(--color-text-title);
    font-size: 1em;
    margin: 4px 0;
    text-align: center;
}